@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'NanumSquareRound';
  font-size: 15px;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 920px;
  height: 600px;
  padding: 40px 50px 40px 40px;
  background: #fff;
  margin: 50px 0px 0px 0px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.topic {
  font-size: 30px;
  font-weight: 900;  
  margin-left: 30px;
  margin-bottom: 20px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-right: 50px;
  position: relative;
}
.selected {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  background: #B4846C;
  z-index: 12;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nonselected {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #B4846C;
  z-index: 12;
}
.content .text-content {
  width: 80%;
  height: 100%;
}
.content .text {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.title {
  font-size: 20px;
  font-weight: 900;
  margin: 7px;
}
.content .text p {
  text-align: justify;
}

table {
  width: 100%;
  border-top: 1px solid #202020;
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}