{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="title">Login</div>
            <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <input id="id" type="text" class="input" name="username" placeholder="ID">
                <input id="pw" type="password" class="input" name="password" placeholder="PW">
                <button type="submit" class="submit">Sign In</button>
            </form>
            <div class="message">
                이젠 당당하게 싸세요.
                <a href="{% url 'signup' %}" class="linkSpan">회원가입</a>
            </div>
            
        </div>
    </div>
</body>
</html>