{% extends 'base.html' %}
{% load static %}
{% block title %}로그인{% endblock %}
{%block link%}{%static 'css/login.css'%}{%endblock%}

{% block content %}

    <div class="container">
        <div class="content">
            <div class="title">Login</div>
            <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data" class="form">
                <input id="id" type="text" class="input" name="username" placeholder="ID">
                <input id="pw" type="password" class="input" name="password" placeholder="PW">
                <button type="submit" class="submit">Sign In</button>
            </form>
            <div class="message">
                이젠 당당하게 싸세요.
                <a href="{% url 'signup' %}" class="linkSpan">회원가입</a>
            </div>
        </div>
    </div>

{% endblock %}