{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{% block link %}{% static 'css/mypage.css' %}{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
        <div class="topic">마이페이지</div>
        <hr>
        <div class="content">
            <div class="list">
                <a class="selected" href="{% url 'mypage' %}">
                    <span class="title">나의 정보</span>
                </a>
                <a class="nonselected" href="{% url 'update' user.id %}">
                    <span class="title">개인정보 수정</span>
                </a>
                <a class="nonselected" href="{% url 'rank' %}">
                    <span class="title">점수 및 순위</span>
                </a>
                <a class="nonselected" href="{% url 'history' %}">
                    <span class="title">나의 기록들</span>
                </a>
                <a class="nonselected" href="{% url 'delete' %}">
                    <span class="title">회원 탈퇴</span>
                </a>
            </div>
            <div class="text-content">
                <div class="text">
                    <div class="title">나의 정보</div>
                    <div class="info">
                        <div class="profile">
                            {% if user.profile %}
                            <img src="{{user.profile.url}}" class="profilePic" alt="프로필사진">
                            {% else %}
							<img src="{% static 'image/user.png' %}" class="profilePic" alt="디폴트사진">
                            {% endif %}
                        </div>
                        <div class="idNickname">
                            <div class="id">
                                <h3>ID</h3>
                                <h4>{{user.username}}</h4>    
                            </div>
                            <div class="nickname">
                                <h3>닉네임</h3>
                                {% if user.nickname %}
                                <h4>{{user.nickname}}</h4> 
                                {% else %}
                                <h4>[닉네임을 입력해주세요]</h4>
                                {% endif %}
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}