{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{%block link%}{%static 'css/font.css'%}{%endblock%}
{%block link%}{%static 'css/base.css'%}{%endblock%}
{%block link%}{%static 'css/mypage.css'%}{%endblock%}
{%block link%}{%static 'css/mypage.css'%}{%endblock%}

{% block content %}

<div class="main">
    <div class="container">
        <div class="topic">마이페이지</div>
        <hr>
        <div class="content">
            <input type="radio" name="slider" checked id="home">
            <input type="radio" name="slider" id="blog">
            <input type="radio" name="slider" id="help">
            <input type="radio" name="slider" id="code">
            <input type="radio" name="slider" id="about">
            <div class="list">
                <label for="home" class="home">
                    <span class="title">개인정보 수정</span>
                </label>
                <label for="blog" class="blog">
                    <span class="title">점수 및 순위</span>
                </label>
                <label for="help" class="help">
                    <span class="title">나의 기록들</span>
                </label>
                <label for="code" class="code">
                    <span class="title">회원 탈출</span>
                </label>
                <div class="slider"></div>
            </div>
            <div class="text-content">
                <div class="home text">
                    <div class="home-content">
                        <div class="title">프로필 사진</div>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <input type="file" name="profile">
                            <button type="submit" class="btn btn-default">저장</button>
                        </form>
                    </div>
                    <div class="home-content">
                        <div class="title">닉네임</div>
                        <div class="in-content">
                            <form action="" method="POST" enctype="multipart/form-data">
                                <input type="text" name="nickname" placeholder="새 닉네임을 입력하세요">
                                <button type="submit" class="btn btn-default">저장</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="blog text">
                    <div class="blog-content">
                        <div class="title">프로필 사진</div>
                    </div>                
                </div>
                <div class="help text">
                    <div class="help-content">
                        <div class="title">프로필 사진</div>
                    </div>                
                </div>
                <div class="code text">
                    <div class="code-content">
                        <div class="title">프로필 사진</div>
                    </div>                
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}