{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{%block link%}{%static 'css/mypage.css'%}{%endblock%}

{% block content %}

<div class="main">
    <div class="container">
        <div class="topic">마이페이지</div>
        <hr>
        <div class="content">
            <div class="list">
                <label for="home" class="nonselected">
                    <a href="{% url 'mypage' %}"><span class="title">나의 정보</span></a>
                </label>
                <label for="blog" class="nonselected" >
                    <a href="{% url 'update' user.id %}"><span class="title">개인정보 수정</span></a>
                </label>
                <label for="help" class="selected">
                    <a href="{% url 'rank' %}"><span class="title">점수 및 순위</span></a>
                </label>
                <label for="code" class="nonselected">
                    <a href="{% url 'history' %}"><span class="title">나의 기록들</span></a>
                </label>
                <label for="about" class="nonselected">
                    <a href="{% url 'delete' %}"><span class="title">회원 탈퇴</span></a>
                </label>
            </div>
            <div class="text-content">
                <div class="text">
                    <div class="title">점수 및 순위</div>
                    <div class="info">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="{% static 'image/poopIcon.png' %}" alt="큰거" class="scoreImg" width="50px"></td>
                                    <td>{{ user.big_score }}</td>
                                    <td>(rank)</td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'image/peeIcon.png' %}" alt="작은거" class="scoreImg" width="60px"></td>
                                    <td>{{ user.small_score }}</td>
                                    <td>(rank)</td>
                                </tr>
                                <tr>
                                    <td><img src="{% static 'image/fartIcon.png' %}" alt="방구" class="scoreImg" width="55px"></td>
                                    <td>{{ user.gas_score }}</td>
                                    <td>(rank)</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>{{ user.total_score }}</td>
                                    <td>(rank)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}