{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{%block link%}{%static 'css/mypage.css'%}{%endblock%}

{% block content %}

<div class="main">
    <div class="container">
        <div class="topic">마이페이지</div>
        <hr>
        <div class="content">
            <input type="radio" name="slider" checked id="home">
            <input type="radio" name="slider" id="blog">
            <input type="radio" name="slider" id="help">
            <input type="radio" name="slider" id="code">
            <input type="radio" name="slider" id="about">
            <div class="list">
                <label for="home" class="home">
                    <span class="title">개인정보 수정</span>
                </label>
                <label for="blog" class="blog">
                    <span class="title">점수 및 순위</span>
                </label>
                <label for="help" class="help">
                    <span class="title">나의 기록들</span>
                </label>
                <label for="code" class="code">
                    <span class="title">회원 탈출</span>
                </label>
                <div class="slider"></div>
            </div>
            <div class="text-content">
                <div class="home text">
                    <div class="home-content">
                        <div class="title">프로필 사진</div>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <input type="file" name="profile">
                            <button type="submit" class="btn btn-default">저장</button>
                        </form>
                    </div>
                    <div class="home-content">
                        <div class="title">닉네임</div>
                        <div class="in-content">
                            <form action="" method="POST" enctype="multipart/form-data">
                                <input type="text" name="nickname" placeholder="새 닉네임을 입력하세요">
                                <button type="submit" class="btn btn-default">저장</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="blog text">
                    <div class="blog-content">
                        <table>
                            <thead>
                                <div class="date">(날짜)</div>
                            </thead>
                            <tbody>
                              <tr>
                                <td><img src="{% static 'image/poopIcon.png' %}" alt="큰거" class="scoreImg"></td>
                                <td>(score)</td>
                                <td>(rank)</td>
                              </tr>
                              <tr>
                                <td><img src="{% static 'image/peeIcon.png' %}" alt="작은거" class="scoreImg"></td>
                                <td>(score)</td>
                                <td>(rank)</td>
                              </tr>
                              <tr>
                                <td><img src="{% static 'image/fartIcon.png' %}" alt="방구" class="scoreImg"></td>
                                <td>(score)</td>
                                <td>(rank)</td>
                              </tr>
                              <tr>
                                <td>Total</td>
                                <td>(score)</td>
                                <td>(rank)</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>                
                </div>
                <div class="help text">
                    <div class="help-content">
                        <ul class="board">
                            <li class="fl tc w70 title t_line">번호</li>
                            <li class="fl tc w500 title t_line">제목</li>
                            <li class="fl tc w120 title t_line">글쓴이</li>
                            <li class="fl tc w100 title t_line">작성일</li>
                            <li class="fl tc w100 title ">조회수</li>
                        </ul>
                        <!--- 리스트 {%for 어쩌구 넣기}--->
                        <ul class="board">
                            <li class="fl tc w70 list t_line lt_line">2</li>
                            <li class="fl tc w500 list t_line lt_line">제목</li>
                            <li class="fl tc w120 list t_line lt_line">관리자</li>
                            <li class="fl tc w100 list t_line lt_line">2019-02-11</li>
                            <li class="fl tc w100 list  lt_line">1</li>
                        </ul>
                        <!--- 리스트 {%endfor 어쩌구 넣기}--->
                    </div>                
                </div>
                <div class="code text">
                    <div class="code-content">
                        <div class="title">탈퇴하시겠습니까?</div>
                        <p>선택은 돌이킬 수 없습니다...</p>
                        <a href="{%url 'delete'%}"><input type="button" value="네 "></a>
                    </div>                
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}