{% extends 'base.html' %}
{% load static %}
{% block title %}회원가입{% endblock %}

{% block content %}
    <h2>회원가입</h2>
    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디를 입력하세요. "><br>
        <input type="text" name="nickname" placeholder="별명을 입력하세요. "><br>
        <input type="file" name="profile" value="프로필이미지를 업로드하세요. "><br>
        <input type="password" name="password" placeholder="비밀번호를 입력하세요. "><br>
        <input type="password" name="password2" placeholder="비밀번호를 한 번 더 입력하세요. "><br>
        <button>회원가입</button>
    </form>

{% endblock %}