{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}
{%block link%}{%static 'css/mypage.css'%}{%endblock%}

{% block content %}

<div class="main">
    <div class="container">
        <div class="topic">마이페이지</div>
        <hr>
        <div class="content">
            <div class="list">
                <a class="nonselected" href="{% url 'mypage' %}">
                    <span class="title">나의 정보</span>
                </a>
                <a class="selected" href="{% url 'update' user.id %}">
                    <span class="title">개인정보 수정</span>
                </a>
                <a class="nonselected" href="{% url 'rank' %}">
                    <span class="title">점수 및 순위</span>
                </a>
                <a class="nonselected" href="{% url 'history' %}">
                    <span class="title">나의 기록들</span>
                </a>
                <a class="nonselected" href="{% url 'delete' %}">
                    <span class="title">회원 탈퇴</span>
                </a>
            </div>
            <div class="text-content">
                <div class="text">
                    <div class="title">개인정보 수정</div>
                    <div class="info">
                        <form method="POST" action="{% url 'update' user.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>닉네임 : <input type="text" name="nickname" value="{{ user.nickname }}"></p>
                            <p>이미지 : <input type="file" name='profile' value="{{ user.profile }}"></p>
                            <button type="submit" class="submit">수정하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}

                            <!-- 
                            <h1> {{ id.username }}</h1>
                            {% if user == id %}
                            <div>
                            <a href="{% url 'update' %}">계정정보수정</a>
                            </div>
                            {% endif %}
                            <div class="row">
                                <form method="POST" action="{% url 'update' user.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p>닉네임 : <input type="text" name="nickname" value="{{ user.nickname }}"></p>
                                    <p>이미지 : <input type="file" name='profile' value="{{ user.profile }}"></p>
                                    <button>수정하기</button>
                                </form>
                            </div>
                             -->