{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}?after">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- 헤더 -->
    <div id="header">
        <div class="nav-bar">
            <div class="logo-area">
                <a href="">
                    <!-- 로고 사진 -->
                    <img class="logo-img" src="{% static 'image/logo.png' %}" width="250" alt="Logo">
                </a>
            </div>
            <!-- 헤더 중앙 메뉴 -->
            <div class="center-area">
                <div class="nav-bar-current-title">
                    <a href="" class="nav-bar-title">메인</a>
                </div>
                <div>
                    <a href="" class="nav-bar-title">대변 차트</a>
                </div>
                <div>
                    <a href="" class="nav-bar-title">소변 차트</a>
                </div>
                <div>
                    <a href="" class="nav-bar-title">방귀 차트</a>
                </div>
            </div>
            <!-- 헤더 오른쪽 메뉴 -->
            <div class="right-area">
                <!-- 로그인 시 -->
                {% if user.is_authenticated %}
                <div>
                    <a href="" class="nav-bar-title">마이페이지</a>
                </div>
                <div class="nav-bar-btn">
                    <a href="" class="nav-bar-title">업로드</a>
                </div>
                <!-- 비로그인 시 -->
                {% else %}
                <div>
                    <a href="" class="nav-bar-title">로그인</a>
                </div>
                <div>
                    <a href="" class="nav-bar-title">회원가입</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>