{% extends "base.html" %}
{% load static %}
{% block link %}{% static 'css/new.css' %}{% endblock %}
{% block title %}The King{% endblock %}
{% block content %}

<div id="main">
    <div class="main-container">
        <div class="main-contents-box">
            <div class="container-top-area">
                <p class="top-title">생리활동 업로드</p>
                <div class="right-area">
                    <button class="top-btn white-btn">취소</button>
                    <button class="top-btn brown-btn">등록</button>
                </div>
            </div>
            <div class="top-border"></div>
            <div class="container-main-area">
                <div class="box-area">
                    <select class="select-area" name="type">
                        <option value="">생리활동을 선택해 주세요.</option>
                        <option value="big">대변</option>
                        <option value="small">소변</option>
                        <option value="bas">방귀</option>
                    </select>
                </div>
                <div class="box-area">
                    <input class="select-area" type="datetime-local">
                </div>
                <div class="detail-area">
                    <!-- <div class="image-area"> 
                        <input type="image">
                    </div>
                    <div class="content-area">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}