
{% extends "base.html" %}
{% load static %}
{% block link %}{% static 'css/total-rank.css' %}{% endblock %}
{% block title %}The King{% endblock %}
{% block content %}

<div id="main">
    <div class="main-container">
        <div class="main-contents-box">
            <div class="chart-top">
                <p class="chart-title">소변 차트</p>
                <p class="chart-date">2021.07.30 ></p>
            </div>
            <div class="top-border"></div>
            <div class="chart-center">
                <div class="chart-nav-bar">
                    <ul>
                        <li class="chart-nav">
                            <p class="chart-nav-title">순위</p>
                            <p class="chart-nav-title">프로필</p>
                            <p class="chart-nav-title">닉네임</p>
                            <p class="chart-nav-title">대변</p>
                            <p class="chart-nav-title current-content">소변</p>
                            <p class="chart-nav-title">방귀</p>
                            <p class="chart-nav-title">통합점수</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <div>
                        <div class="chart-line">
                            <a href=""  class="chart-data">
                                <p class="chart-nav-content">1</p>
                                <img class="chart-nav-content" src="" alt="프로필">
                                <p class="chart-nav-content">채희찬</p>
                                <p class="chart-nav-content">150점</p>
                                <p class="chart-nav-content current-content">50점</p>
                                <p class="chart-nav-content">50점</p>
                                <p class="chart-nav-content">250점</p>
                            </a>
                        </div>
                    </div>
                    {% for row in small_rank %}
                        <div class="chart-data">
                            <div class="chart-nav-content">
                                <!-- 등수를 어떻게 처리해야 할지 (user에 넣을지 for로 계산해야 할지) -->
                                <strong></strong>
                            </div>
                            <div class="chart-nav-content">
                                {% if row.profile %}
                                <img src="{{ row.profile.url }}" class="profile" height="100px" alt="프로필">
                                {% endif %}
                            </div>
                            <div class="chart-nav-content">
                                <p>{{ row.nickname }}</p>
                            </div>
                            <div class="chart-nav-content">
                                <p>{{ row.big_score }}점</p>
                            </div>
                            <div class="chart-nav-content current-content">
                                <p>{{ row.small_score }}점</p>
                            </div>
                            <div class="chart-nav-content">
                                <p>{{ row.gas_score }}점</p>
                            </div>
                            <div class="chart-nav-content">
                                <p>{{ row.total_score }}점</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

