@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'NanumSquareRound';
    font-size: 10px;
}

#main{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.main-container{
    width: 1000px;
}

.main-contents-box{
    width: 1000px;
    height: 800px;
    border: 0.5px solid #dddddd;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-top-area{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px 30px;
    font-size: 3.5rem;
}

.top-btn{
    font-family: 'NanumSquareRound';
    width: 80px;
    height: 40px;
    line-height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.6rem;
}

.white-btn{
    background-color: white;
    border: 2px solid #B4846C;
    color: #B4846C;
}

.brown-btn{
    background-color: #B4846C;
    border: 2px solid #B4846C;
    color: white;  
}

.top-border{
    width: 90%;
    margin: 0px 60px 40px;
    border-radius: 30px;
    border-bottom: 3px solid #DDDDDD;
}

.container-main-area{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.mid-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-area{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #B4846C;
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: 40px;
}

.select-area{
    width: 99%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'NanumSquareRound';
    font-size: 1.4rem;
    color: #B4846C;
    padding-left: 5px;
}

.detail-area{
    display: flex;
    justify-content: space-between;
}